<div>
    <div class ="pull-right">
        <button type="button" class="btn btn-xs btn-success pull-right" disabled={{isClean}} {{action "toggleNewApp"}}>
            <span class="glyphicon glyphicon-plus"></span> new
        </button>
    </div>
    <div class="clearfix"></div>
</div>

<div style="margin-bottom:10px;"></div>

<ul class="list-group">
{{#each model.clients as |client|}}
    <li class="list-group-item">{{#link-to "user.client" client}}{{client.name}}{{/link-to}}</li>
{{/each}}
</ul>

{{#if showNewApp}}
    {{#modal-dialog close="toggleNewApp"
        targetAttachment="center"
        translucentOverlay=true}}
        {{edit-client-app client=newClient}}
        <button class="btn btn-success" {{action "saveNewClient"}}>Save</button>
    {{/modal-dialog}}
{{/if}}
