<div>
    <div class ="pull-right">
        <button type="button" class="btn btn-xs btn-success pull-right" disabled={{isClean}} {{action "toggleNewApp"}}>
            <span class="glyphicon glyphicon-plus"></span> new
        </button>
    </div>
    <div class="clearfix"></div>
</div>

<div class="bottom10"></div>

<ul class="list-group">
{{#each model.clients as |client|}}
    <li class="list-group-item">{{#link-to "user.client" client}}{{client.name}}{{/link-to}}</li>
{{/each}}
</ul>

{{#if showNewApp}}
    {{#modal-dialog close="toggleNewApp"
        targetAttachment="center"
        translucentOverlay=true
        width=400}}
        <div class="client-modal">
            <form {{action 'saveNewClient' on='submit'}}>
                <h3 class="text-info">New Client Application</h3>
                <hr>
                {{edit-client-app client=newClient isEditing=true}}
                <hr>
                <div class="pull-right">
                    <button class="btn btn-default btn-sm right10" type="submit">Save</button>
                    <button class="btn btn-default btn-sm" {{action "toggleNewApp"}} type="button">close</button>
                </div>

            </form>
        </div>

    {{/modal-dialog}}
{{/if}}
