<form {{action 'authenticate' on='submit'}}>

    <div class="form-group login-username {{if showErrors (if errors.identification "has-error" "has-success")}}">
        <label class="control-label">Username
            <span class="err-msg">{{if showErrors errors.identification}}</span>
        </label>
        {{input value=identification class="form-control" placeholder="Enter Username"}}
    </div>

    <div class="form-group login-password {{if showErrors (if errors.password "has-error" "has-success")}}">
        <label class="control-label">Password
            <span class="err-msg">{{if showErrors errors.password}}</span>
        </label>
        {{input value=password class="form-control" placeholder='Enter Password' type="password"}}
    </div>

    <hr>
    <button class="btn btn-success pull-right login-btn" type="submit">Login</button>
</form>