<h3 class="text-info">User</h3>
<div>
    <div class ="pull-right">
        {{x-toggle value=isEditing showLabels=true size="small" on="" off="edit"}}
        <button type="button" class="btn btn-xs btn-success pull-right" disabled={{isClean}} {{action "saveUser"}}>save</button>
    </div>
    <div class="clearfix"></div>
</div>


{{#if isEditing}}
    <label>First Name:</label>
    {{input value=model.firstname class="form-control"}}
    <label>Last Name:</label>
    {{input value=model.lastname class="form-control"}}
{{else}}
    <label>First Name:</label>
    <div class="form-control-static">{{model.firstname}}</div>
    <label>Last Name:</label>
    <div class="form-control-static">{{model.lastname}}</div>
{{/if}}


<hr>
<h3 class="text-info">Applications</h3>

{{liquid-outlet}}




