<h3 class="text-info">User</h3>
<div>
    <div class ="pull-right">
        {{x-toggle value=isEditing showLabels=true size="small" on="" off="edit"}}
        <button type="button" class="btn btn-xs btn-success pull-right" disabled={{isClean}} {{action "saveUser"}}>save</button>
    </div>
    <div class="clearfix"></div>
</div>

<div class="form-group user-first-name {{if errors.model.firstname "has-error" "has-success"}}">
  <label class="control-label">First Name {{errors.model.firstname}}</label>
  {{#if isEditing}}
    {{input value=model.firstname class="form-control"}}
  {{else}}
    <div class="form-control-static">{{model.firstname}}</div>
  {{/if}}
</div>
<div class="form-group user-last-name {{if errors.model.lastname "has-error" "has-success"}}">
  <label class="control-label">Last Name {{errors.model.lastname}}</label>
  {{#if isEditing}}
    {{input value=model.lastname class="form-control"}}
  {{else}}
    <div class="form-control-static">{{model.lastname}}</div>
  {{/if}}
</div>

<hr>
<h3 class="text-info">Applications</h3>

{{liquid-outlet}}




