


<hr>

<div>
    <div class ="pull-right">
        {{x-toggle value=isEditing showLabels=true size="small" on="" off="edit"}}
    </div>
    <div class="clearfix"></div>
</div>
<h4>User</h4>

{{#if isEditing}}
    <label>First Name:</label>
    {{input value=model.firstname class="form-control"}}
    <label>Last Name:</label>
    {{input value=model.lastname class="form-control"}}
{{else}}
    <label>First Name:</label>
    <div class="form-control-static">{{model.firstname}}</div>
    <label>Last Name:</label>
    <div class="form-control-static">{{model.lastname}}</div>
{{/if}}

<hr>

<h4>Applications</h4>
{{liquid-outlet}}

<button type="button" class="btn btn-success pull-right" disabled={{isClean}} {{action "saveUser"}}>save</button>
